.menu{
    display:flex;
    justify-content: space-around;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color:cyan;
}
body{
    background-color: whitesmoke;
    /* The image used */ 
    background-image: url("https://cdn.pixabay.com/photo/2016/11/29/05/45/astronomy-1867616__340.jpg"); 
    /* Full height */ 
    height: 100%;
     /* Center and scale the image nicely */ 
     background-position: center;
     background-repeat: no-repeat; 
     background-size: cover;
}
.grid img{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border:2px solid black;
    border-radius: 50px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.origami{
    border-radius: 20px;
    background-color: white;

    width: 310px;
    font-family: fantasy;
}
p,h3{
color:cyan;
}